<!-- Footer Inclusion --!>

<footer class="l-footer">
    <div class="footer-inner">
        <ul id="jsSocialButton" class="footer-sns-button-list">
            <li class="list-item type-twitter"><a href="https://twitter.com/home?status=Share%20this%20awesome%20Weblog!%20%0Ajovinliew.co" class="item-share" target="_blank"><i class="fa fa-twitter"></i></a><span class="item-tooltip">Twitter</span></li>
            <li class="list-item type-facebook"><a href="https://www.facebook.com/sharer/sharer.php?u=http%3A//jovinliew.co/" class="item-share" target="_blank"><i class="fa fa-facebook"></i></a><span class="item-count" style="cursor: default;">-</span><span class="item-tooltip">Facebook</span></li>
            <li class="list-item type-gplus"><a href="https://plus.google.com/share?url=jovinliew.co" class="item-share" target="_blank"><i class="fa fa-google-plus"></i></a><span class="item-count" style="cursor: default;">-</span><span class="item-tooltip">Google+</span></li>
            <li class="list-item type-linkedin"><a href="https://www.linkedin.com/shareArticle?mini=true&url=jovinliew.co&title=&summary=&source=" class="item-share" target="_blank"><i class="fa fa-linkedin"></i></a><span class="item-tooltip">Linkedin</span></li>
            <li class="list-item type-email"><a href="mailto:?&body=Hi!%20Check%20out%20this%20awesome%20weblog%20at%20jovinliew.co" class="item-share" target="_blank"><i class="fa fa-envelope"></i></a><span class="item-count" style="cursor: default;">-</span><span class="item-tooltip">Email</span></li>
            <li class="list-item type-feedly"><a href="http://cloud.feedly.com/#subscription%2Ffeed%2Fhttp%3A%2F%2Fjovinliew.co%2Ffeed.xml" class="item-share" target="_blank">feedly</a><span class="item-count" style="cursor: default;">-</span><span class="item-tooltip">Feedly</span></li>
        </ul>
        <nav class="footer-navs">
            <div class="navs-item">
                <h3 class="nav-title"> Menu </h3>
                <ul class="nav-list"></ul>
                <li class="list-item s-current"><a class="item-pointer" href="/"> home</a> </li>
                <li class="list-item"><a class="item-pointer" href="/archives/"> archives</a> </li>
                <li class="list-item"><a class="item-pointer" href="/tags/"> tags</a> </li>
                <li class="list-item"><a class="item-pointer" href="/series/"> series</a> </li>
            </div>
            <div class="navs-item">
                <h3 class="nav-title"> Others </h3>
                <ul class="nav-list"></ul>
                <li class="list-item"><a class="item-pointer" href="/search.html"> search</a> </li>
                <li class="list-item"><a class="item-pointer" href="/subscribe.html"> subscribe</a> </li>
                <li class="list-item"><a class="item-pointer" href="/feed.xml"> feed</a> </li>
            </div>
            <div class="navs-item">
                <h3 class="nav-title"> Portfolio </h3>
                <ul class="nav-list"></ul>
                <li class="list-item"><a class="item-pointer" target="_blank" href="https://github.com/liewyyjovin"> github</a> </li>
                <li class="list-item"><a class="item-pointer" target="_blank" href="/projects/"> projects</a> </li>
            </div>
            <div class="navs-item">
                <h3 class="nav-title"> Social Media </h3>
                <ul class="nav-list"></ul>
                <li class="list-item"><a class="item-pointer" href="https://www.linkedin.com/in/jovinliew/"> linkedin</a> </li>
                <li class="list-item"><a class="item-pointer" href="https://www.facebook.com/liew.jovin/"> facebook</a> </li>
                <li class="list-item"><a class="item-pointer" href="https://www.instagram.com/jobunts/"> instagram</a> </li>
            </div>
        </nav>
        <p class="footer-copyright"> 2017 © Jovin Liew's Weblog </p>
    </div>
</footer>
