<!-- Footer Inclusion --!>

<footer class="l-footer">
    <div class="footer-inner">
        <ul id="jsSocialButton" class="footer-sns-button-list">
            <li class="list-item type-twitter"><a href="https://twitter.com/share?url=https%3A%2F%2Fwhiskers.nukos.kitchen%2F&amp;text=%E3%83%9B%E3%83%BC%E3%83%A0%20%7C%20UI%2FUX%20Design%E3%80%81%E3%83%95%E3%83%AD%E3%83%B3%E3%83%88%E3%82%A8%E3%83%B3%E3%83%89%E7%B3%BB%E3%81%AE%E6%8A%80%E8%A1%93%E3%81%AB%E9%96%A2%E3%81%99%E3%82%8B%E5%82%99%E5%BF%98%E9%8C%B2%20%7C%20whiskers%20" class="item-share" target="_blank"><i class="fa fa-twitter"></i></a><a class="item-count" href="https://twitter.com/search/?q=https%3A%2F%2Fwhiskers.nukos.kitchen%2F" target="_blank">-</a><span class="item-tooltip">Twitter</span></li>
            <li class="list-item type-facebook"><a href="https://www.facebook.com/sharer.php?u=https%3A%2F%2Fwhiskers.nukos.kitchen%2F&amp;t=%E3%83%9B%E3%83%BC%E3%83%A0%20%7C%20UI%2FUX%20Design%E3%80%81%E3%83%95%E3%83%AD%E3%83%B3%E3%83%88%E3%82%A8%E3%83%B3%E3%83%89%E7%B3%BB%E3%81%AE%E6%8A%80%E8%A1%93%E3%81%AB%E9%96%A2%E3%81%99%E3%82%8B%E5%82%99%E5%BF%98%E9%8C%B2%20%7C%20whiskers" class="item-share" target="_blank"><i class="fa fa-facebook"></i></a><span class="item-count" style="cursor: default;">-</span><span class="item-tooltip">Facebook</span></li>
            <li class="list-item type-gplus"><a href="https://plusone.google.com/share?url=https%3A%2F%2Fwhiskers.nukos.kitchen%2F" class="item-share" target="_blank"><i class="fa fa-google-plus"></i></a><span class="item-count" style="cursor: default;">-</span><span class="item-tooltip">Google+</span></li>
            <li class="list-item type-hatebu"><a href="http://b.hatena.ne.jp/add?mode=confirm&amp;url=https%3A%2F%2Fwhiskers.nukos.kitchen%2F&amp;title=%E3%83%9B%E3%83%BC%E3%83%A0%20%7C%20UI%2FUX%20Design%E3%80%81%E3%83%95%E3%83%AD%E3%83%B3%E3%83%88%E3%82%A8%E3%83%B3%E3%83%89%E7%B3%BB%E3%81%AE%E6%8A%80%E8%A1%93%E3%81%AB%E9%96%A2%E3%81%99%E3%82%8B%E5%82%99%E5%BF%98%E9%8C%B2%20%7C%20whiskers&amp;mode=confirm" class="item-share" target="_blank">はてブ</a><a class="item-count" href="http://b.hatena.ne.jp/entry/https://whiskers.nukos.kitchen/" target="_blank">-</a><span class="item-tooltip">ブックマークする</span></li>
            <li class="list-item type-pocket"><a href="https://getpocket.com/save?url=https%3A%2F%2Fwhiskers.nukos.kitchen%2F&amp;title=%E3%83%9B%E3%83%BC%E3%83%A0%20%7C%20UI%2FUX%20Design%E3%80%81%E3%83%95%E3%83%AD%E3%83%B3%E3%83%88%E3%82%A8%E3%83%B3%E3%83%89%E7%B3%BB%E3%81%AE%E6%8A%80%E8%A1%93%E3%81%AB%E9%96%A2%E3%81%99%E3%82%8B%E5%82%99%E5%BF%98%E9%8C%B2%20%7C%20whiskers" class="item-share" target="_blank">pocket</a><span class="item-count" style="cursor: default;">-</span><span class="item-tooltip">Pocketに入れる</span></li>
            <li class="list-item type-feedly"><a href="https://feedly.com/index.html#subscription%2Ffeed%2Fhttp://whiskers.nukos.kitchen/feed.xml" class="item-share" target="_blank">feedly</a><span class="item-count" style="cursor: default;">-</span><span class="item-tooltip">Feedlyで購読する</span></li>
        </ul>
        <nav class="footer-navs">
            <div class="navs-item">
                <h3 class="nav-title"> Menu </h3>
                <ul class="nav-list"></ul>
                <li class="list-item s-current"><a class="item-pointer" href="/"> home</a> </li>
                <li class="list-item"><a class="item-pointer" href="/archives/"> archives</a> </li>
                <li class="list-item"><a class="item-pointer" href="/tags/"> tags</a> </li>
                <li class="list-item"><a class="item-pointer" href="/series/"> series</a> </li>
            </div>
            <div class="navs-item">
                <h3 class="nav-title"> Others </h3>
                <ul class="nav-list"></ul>
                <li class="list-item"><a class="item-pointer" href="/search.html"> search</a> </li>
                <li class="list-item"><a class="item-pointer" href="/subscribe.html"> subscribe</a> </li>
                <li class="list-item"><a class="item-pointer" href="/feed.xml"> feed</a> </li>
            </div>
            <div class="navs-item">
                <h3 class="nav-title"> Portfolio </h3>
                <ul class="nav-list"></ul>
                <li class="list-item"><a class="item-pointer" target="_blank" href="https://github.com/liewyyjovin"> github</a> </li>
                <li class="list-item"><a class="item-pointer" target="_blank" href="/projects/"> projects</a> </li>
            </div>
            <div class="navs-item">
                <h3 class="nav-title"> Social Media </h3>
                <ul class="nav-list"></ul>
                <li class="list-item"><a class="item-pointer" href="https://www.linkedin.com/in/jovinliew/"> linkedin</a> </li>
                <li class="list-item"><a class="item-pointer" href="https://www.facebook.com/liew.jovin/"> facebook</a> </li>
                <li class="list-item"><a class="item-pointer" href="https://www.instagram.com/jobunts/"> instagram</a> </li>
            </div>
        </nav>
        <p class="footer-copyright"> 2017 © Jovin Liew's Weblog </p>
    </div>
</footer>
