<head>
    <meta charset="utf-8">
    <title>Weblog | Think, Read, Write | Jovin Liew</title>
    <link rel="shortcut icon" href="/assets/images/favicon-f6918c41.png" type="image/png">
    <meta name="keywords" content="CS3216, Travel, Rawthoughts, General, Programming, Design">
    <meta name="description" content="Jovin's Weblog - A personal space for writing and thinking">
    <meta name="author" content="Jovin Liew">
    <meta name="viewport" content="width=device-width, maximum-scale=1.5, minimum-scale=0.5,user-scalable=yes,initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link href="/css/main.css" rel="stylesheet" type="text/css">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Source+Code+Pro:500&amp;amp;subset=latin-ext" rel="stylesheet">
    <link href="https://afeld.github.io/emoji-css/emoji.css" rel="stylesheet">
</head>
