<head>
    <meta charset="utf-8">
    <title>Weblog | Think, Read, Write | Jovin Liew</title>
    <link rel="shortcut icon" href="/assets/images/favicon-f6918c41.png" type="image/png">
    <!-- <link rel="icon" type="image/png" href="/assets/images/favicon-f6918c41.png"> --!>
    <meta name="keywords" content="AngularJS, UI/UX デザイン, フロントエンド, HTML5, CSS3, JavaScript">
    <meta name="description" content="Jovin's Weblog - A personal space for writing and thinking">
    <meta name="author" content="Jovin Liew">
    <meta name="viewport" content="width=device-width, maximum-scale=1.5, minimum-scale=0.5,user-scalable=yes,initial-scale=1.0">
    <!--[if lt IE 9]><script src="/assets/js/libs/html5shiv.min-25ea771a.js"></script><script src="/assets/js/libs/respond.min-aaa60282.js"></script><script src="/assets/js/libs/selectivizr-min-c8809cbd.js"></script><script src="/assets/js/libs/rem.min-3a726c15.js"></script><![endif]-->
    <link href="{{ site.url }}/css/main.css" rel="stylesheet">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Source+Code+Pro:500&amp;amp;subset=latin-ext" rel="stylesheet">
    <link href="https://afeld.github.io/emoji-css/emoji.css" rel="stylesheet">
</head>
