<!-- Header Inclusion !-->

<header class="l-header" data-js-ctrl="header">
    <div class="header__inner">
        <div class="header-id">
            <a class="id-pointer" href="/">
                <div class="id-label"> Jovin Liew </div>
            </a>
        </div>
        <div class="header-navs">
            <div class="navs-opener">
                <a class="opener-pointer" data-js-event="sidebar-dropdown-button" href="#"> <i class="fa fa-bars"></i></a>
            </div>
            <div class="navs__container" data-js-ctrl="sidebar">
                <div class="navs__header">
                    <div class="navs-closer">
                        <a class="closer-pointer" data-js-event="sidebar-close-button" href="#"> <i class="fa fa-times"></i></a>
                    </div>
                    <div class="navs-title"> Menu </div>
                </div>
                <nav class="navs__contents">
                    <ul class="navs-list mod-left">
                        <li class="list-item s-current">
                            <a class="item-pointer " href="/"> <span class="pointer-arrow"><i class="fa fa-angle-right"></i></span> home</a>
                        </li>
                        <li class="list-item">
                            <a class="item-pointer " href="/archives/"> <span class="pointer-arrow"><i class="fa fa-angle-right"></i></span> archives</a>
                        </li>
                        <li class="list-item">
                            <a class="item-pointer " href="/tags/"> <span class="pointer-arrow"><i class="fa fa-angle-right"></i></span> tags</a>
                        </li>
                        <li class="list-item">
                            <a class="item-pointer " href="/series/"> <span class="pointer-arrow"><i class="fa fa-angle-right"></i></span> series</a>
                        </li>
                    </ul>
                    <ul class="navs-list mod-right">
                        <li class="list-item">
                            <a class="item-pointer " href="/search.html"> <span class="pointer-arrow"><i class="fa fa-angle-right"></i></span> search</a>
                        </li>
                        <li class="list-item">
                            <a class="item-pointer " href="/subscribe.html"> <span class="pointer-arrow"><i class="fa fa-angle-right"></i></span> subscribe</a>
                        </li>
                        <li class="list-item">
                            <a class="item-pointer " href="/feed.xml"> <span class="pointer-arrow"><i class="fa fa-angle-right"></i></span> feed</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</header>
